{% extends 'main.html' %}
{% block content %}
    {% load tag_tools %}
    {% load static %}

<div class="row">
	<!--<div class="col-md-5">-->
		<!--<div class="tile">-->
			<!--<h3 class="tile-title">添加服务&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:15px;" id="error_xml"></span></h3>-->
			<!--<div class="tile-body">-->
				<!--<form class="form-horizontal" method="POST" id="form_interface_addtask">-->
					<!--<input type="hidden" name="csrfmiddlewaretoken" value="Euy6bcHgg5nDBME4Dm0MJS45oFn220yvmtOIKi5IniCmPkbRekE657qBuIEqBuMo">-->
					<!--<div class="form-group row">-->
						<!--<label class="control-label col-md-2">TestUrl</label>-->
						<!--<div class="col-md-10">-->
							<!--<input type="text" class="form-control" id="test_url" name="test_url" placeholder="http://ip:port">-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="form-group row">-->
						<!--<label class="control-label col-md-2">BaseUrl</label>-->
						<!--<div class="col-md-10">-->
							<!--<input type="text" class="form-control" id="base_url" name="base_url" placeholder="http://ip:port">-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="form-group row">-->
		              	<!--<label class="control-label col-md-2">ReqType</label>-->
		              	<!--<div class="col-md-4">-->
		                <!--<select id="reqtype" name="reqtype" class="form-control" style="cursor: pointer;">-->
							<!--<option value="xml"> xml </option>-->
							<!--<option value="alltrans_json"> alltrans_json </option>-->
							<!--<option value="json"> json </option>-->
						<!--</select>-->
		              <!--</div>-->
		            <!--</div>-->
					<!--<div class="form-group row">-->
						<!--<label class="control-label col-md-2">Query cfg</label>-->
						<!--<div class="col-sm-4">-->
							<!--<input type="text" class="form-control" id="query_data_ip" name="query_data_ip" placeholder="ip addr">-->
						<!--</div>-->
						<!--<div class="col-sm-3">-->
							<!--<input type="text" class="form-control" id="query_data_user" name="query_data_user" placeholder="user">-->
						<!--</div>-->
						<!--<div class="col-sm-3">-->
							<!--<input type="text" class="form-control" id="query_data_pass" name="query_data_pass" placeholder="password">-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="form-group row">-->
						<!--<label class="control-label col-md-2">Query path</label>-->
						<!--<div class="col-md-10">-->
							<!--<input type="text" class="form-control" id="query_data_path" name="query_data_path" placeholder="/search/odin/daemon/fanyi/query(请求文件的绝对路径)">-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="form-group row">-->
						<!--<label class="control-label col-md-2">Testtag</label>-->
						<!--<div class="col-sm-10">-->
							<!--<input type="text" class="form-control" id="testtag" name="testtag" placeholder="当前测试的备注信息">-->
						<!--</div>-->
					<!--</div>-->
					<!---->
				<!--</form>-->
			<!--</div>-->
			<!--<div class="tile-footer">-->
				<!--<div class="row">-->
					<!--<div class="col-md-9 col-md-offset-2">-->
						<!--<button class="btn btn-primary" type="button" id="add_fy_task"><i class="fa fa-fw fa-lg fa-check-circle"></i>Add</button>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<div class="col-md-12">
		<div class="tile">
			<h3 class="tile-title">任务列表</h3>
			<div class="tile-body">
				<table class="table" id="reqData">
				<thead>
					<tr>
						<th id="taskId">ID</th>
						<th>StartTime</th>
						<th>EndTime</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody style="cursor: pointer;" id="reqBody">
					{% for item in li %}
					<tr class="get_data">
						<td>{{item.task_id}}</td>
						<td>{{item.start_time}}</td>
						<td>{{item.end_time}}</td>
						<td>
							{% if item.status == 0 %}
							    <a style="text-decoration: underline; text-shadow: 1px 0 0 currentColor; color: yellow">Waiting</a>
							{% elif item.status == 1 %}
								<a  href="/lizhi/result/result_detail_{{item.task_id}}.html" style="text-decoration: underline; text-shadow: 1px 0 0 currentColor; color: red">Running</a>
							{% elif item.status == 2 %}
								<a  href="/lizhi/result/result_detail_{{item.task_id}}.html"
									style="text-decoration: underline; text-shadow: 1px 0 0 currentColor; color: blue">Finished</a>
							{% endif %}
						</td>
				
					</tr>
                    {% endfor %}
				</tbody>
			</table>
			</div>
			<div id="showDiv" style="display: none;"></div>
	        <div class="tile-footer">
	        	<div class="row">
	            <div class="col-md-9 col-md-offset-2">
	            	<nav aria-label="Page navigation">
						<ul class="pagination">
				    		{{page_str}}
						</ul>
					</nav>
	            </div>
	         </div>        	
		</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
    <script>
        //判断ajax里面的方法是get还是post
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        //只要执行一次ajaxSetup进行header设置,就可以不用在没个ajax里面添加header信息了
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'))
                }
            }
        });


        //goto result detail
        $('#taskId').click(function () {
            var line_id = $(this).parent().parent().attr('req_id');
            $.ajax({
                type: "POST",
                url: "del_xml_line",
                async: true,
                data: {
                    'line_id': line_id
                },
                dataType: 'JSON',
                success: function (obj) {
                    if (obj.status) {
                        location.reload();
                    } else {
                        $('#error_xml').text(obj.error);
                    }
                },
                error: function () {

                }
            });

        })


    </script>
{% endblock %}


